# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master,develop ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    permissions:
      contents: read
      packages: write

    steps:
    - name: checkout code
      uses: actions/checkout@v3
      
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        
    - name: Build with Maven
      run: mvn -B clean install -f pom.xml

    # - name: Deploy to Tomcat
    #   run: |
    #     curl -v -u ${{ secrets.TOMCAT_USER }}:${{ secrets.TOMCAT_PASSWORD }} \
    #     -T /home/runner/work/maven-web-application/maven-web-application/target/maven-web-application.war \
    #     "http://${{ secrets.TOMCAT_HOST }}/manager/text/deploy?path=/maven-web-application&update=true"

    # Login to DockerHub using secrets for credentials
    # - name: Login to DockerHub
    #   env:
    #       DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
    #       DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
    #   run: echo $DOCKER_PASSWORD | docker login -u $DOCKER_USERNAME --password-stdin

    -  name: Login to GitHub Container Registry
       uses: docker/login-action@v3
       with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
    # Build Docker image with a specific tag
    - name: Build Docker Image
      run: |
        IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/maven-web-application:latest
        docker build -t harish2195/$IMAGE_NAME .

    # PUSH Docker image with a specific tag
    - name: Build Docker Image
      run: |
        IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/maven-web-application:latest
        docker push $IMAGE_NAME .
      

    # # Build Docker image with a specific tag
    # - name: Build Docker Image
    #   run: docker build -t harish2195/maven-web-application .
    # # Push the built image to DockerHub
    # - name: Push to DockerHub
    #   run: docker push harish2195/maven-web-application:latest

  # # Deploy job
  # Deploy:
  #   # Use a self-hosted runner for deployment
  #   needs: build
  #   runs-on: self-hosted
  #   # Steps to be executed in the Deploy job
  #   steps:
  #     # Pull the latest Docker image from DockerHub
  #     - name: Pull the Docker Image
  #       run: docker pull harish2195/maven-web-application:latest 
  #     - name: Delete old container
  #       run:  docker rm -f maven-web-application
  #            # docker stop maven-web-application
  #     # Run a new container from the pulled image
  #     - name: Run the Container
  #       run: docker run -d -p 8080:8080 --name maven-web-application harish2195/maven-web-application:latest
        
